{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "# Authorization\n\nTo be able to perform calls on the Simple Food Rest API, you need to use a token which has been given to you by the Simple Food organization.\n\n### Bearer token\n\nThe token must be sent in the Authorization header when making requests.\n\nAuthorization: Bearer [token] (ex: \"Bearer hmlZERcret65454dsc\")\n",
    "version" : "1.0.0-oas3",
    "title" : "Simple Food API",
    "contact" : {
      "email" : "it@simplefoodapp.com.au"
    },
    "x-logo" : {
      "url" : "http://simple-front-end-sg.s3-website-ap-southeast-1.amazonaws.com/img/SIMPLE_LOGO.png",
      "backgroundColor" : "#FAFAFA"
    }
  },
  "tags" : [ {
    "name" : "Residents",
    "description" : "Operations available on residents"
  } ],
  "paths" : {
    "/residents" : {
      "get" : {
        "tags" : [ "Residents" ],
        "summary" : "Get residents",
        "operationId" : "get",
        "description" : "Get all the residents linked to your company's facility.\n\nhttps://api.simpleplatform.com.au/v1/residents\n",
        "parameters" : [ {
          "in" : "header",
          "name" : "Authorization",
          "description" : "Bearer [token]",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "All the residents from your company.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Resident"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Residents" ],
        "summary" : "Add or update a resident",
        "operationId" : "addResident",
        "parameters" : [ {
          "in" : "header",
          "name" : "Authorization",
          "description" : "Bearer [token]",
          "schema" : {
            "type" : "string"
          }
        } ],
        "description" : "By passing in a resident, you will add it or update it in the system.\n\nThe mandatory fields are the externalId, the first name, the last name and the birthdate. The active boolean and the status are also required.\n\nhttps://api.simpleplatform.com.au/v1/residents\n",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/Resident"
        },
        "responses" : {
          "200" : {
            "description" : "The message describes which operation has been performed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResidentCreated"
                }
              }
            }
          }
        }
      }
    },
    "/residents/{externalId}" : {
      "get" : {
        "tags" : [ "Residents" ],
        "summary" : "Get a specific resident",
        "operationId" : "getResident",
        "description" : "Get a specific resident through his externalId\n\nhttps://api.simpleplatform.com.au/v1/residents/{externalId}\n",
        "parameters" : [ {
          "in" : "header",
          "name" : "Authorization",
          "description" : "Bearer [token]",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "required" : true,
          "name" : "externalId",
          "description" : "externalId of a resident",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The requested resident",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Resident"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "servers" : [ {
    "url" : "https://api.simpleplatform.com.au/v1"
  } ],
  "components" : {
    "requestBodies" : {
      "Resident" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/Resident"
            }
          }
        },
        "description" : "Pass a resident to add it in the db."
      }
    },
    "schemas" : {
      "Resident" : {
        "type" : "object",
        "required" : [ "externalId", "firstName", "lastName", "birthdate", "active", "status" ],
        "properties" : {
          "externalId" : {
            "type" : "string",
            "example" : 12
          },
          "firstName" : {
            "type" : "string",
            "example" : "John"
          },
          "preferredName" : {
            "type" : "string",
            "example" : "Joe"
          },
          "middleName" : {
            "type" : "string",
            "example" : "Dave"
          },
          "lastName" : {
            "type" : "string",
            "example" : "doe"
          },
          "gender" : {
            "type" : "string",
            "example" : "Male",
            "enum" : [ "Male", "Female", "Transgender", "Other", "Not Disclosed" ]
          },
          "birthdate" : {
            "type" : "string",
            "format" : "YYYY-MM-DD",
            "example" : "1936-01-28"
          },
          "active" : {
            "type" : "boolean",
            "example" : false
          },
          "status" : {
            "type" : "string",
            "example" : "Home",
            "enum" : [ "Active", "External", "Home", "Respite", "Deceased", "On leave" ]
          },
          "roomNumber" : {
            "type" : "string",
            "example" : "6A"
          },
          "diningTableNumber" : {
            "type" : "string",
            "example" : 23
          },
          "fluidThickness" : {
            "type" : "string",
            "example" : "Thin",
            "enum" : [ "Thin", "Slightly thick", "Mildly thick", "Moderately thick", "Extremely thick" ]
          },
          "dietAlert" : {
            "type" : "string",
            "example" : "Diet alert"
          },
          "texturePreference" : {
            "type" : "string",
            "example" : "Easy to chew",
            "enum" : [ "Liquidised", "Pureed", "Minced & moist", "Soft & bite-sized", "Easy to chew", "Regular" ]
          },
          "diningRoomName" : {
            "type" : "string",
            "example" : "Acacia"
          },
          "mealSize" : {
            "type" : "string",
            "example" : "Medium",
            "enum" : [ "Small", "Medium", "Large" ]
          },
          "cutUp" : {
            "type" : "boolean",
            "example" : true
          },
          "assistiveCutlery" : {
            "type" : "boolean",
            "example" : true
          },
          "assistiveCups" : {
            "type" : "boolean",
            "example" : true
          },
          "assistivePlates" : {
            "type" : "boolean",
            "example" : true
          },
          "foodAllergiesNotes" : {
            "type" : "string",
            "example" : "Prawns - anaphylaxis. Other shellfish ?"
          },
          "likeNotes" : {
            "type" : "string",
            "example" : "Roasts, seafood"
          },
          "dislikeNotes" : {
            "type" : "string",
            "example" : "Rice, pasta, Brocolli, Beans."
          }
        }
      },
      "ResidentCreated" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "example" : "Resident created"
          }
        }
      },
      "ResidentUpdated" : {
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "example" : "Resident updated"
          }
        }
      }
    }
  }
}